@using ApartmentReservationWeb.Controllers
@using ApartmentReservationWeb.Models.ApartmentModel

@{
    ViewData["Title"] = "Calendar Page";
    var reservedDates = (IEnumerable<ReservationDate>?)ViewData["calendarDates"];
    var calendarDates = Enumerable.Range(0, 40).Select(offset => DateTime.Now.AddDays(offset)).ToArray();
    var userAparts = (IEnumerable<ApartmentInfo>?)ViewData["aparts"];
}

<div class="table-responsive">
    <table class="table overflow-scroll overflow-auto">
        <thead>
            <tr>
                <th>Apartment</th>
                @foreach (var date in calendarDates)
                {
                    <th>@date.ToShortDateString()</th>
                }
            </tr>
        </thead>
        <tbody>
            @* To do: make first column of table sticky *@
            @foreach (var apart in userAparts ?? Enumerable.Empty<ApartmentInfo>())
            {
                <tr>
                    <td class="position-sticky">@apart.Photos</td>
                    @foreach (var date in calendarDates ?? Enumerable.Empty<DateTime>())
                    {
                        if (reservedDates.Any(x => x.ApartmentId == apart.Id 
                            && x.Date == DateOnly.Parse(date.ToString())))
                        {
                            <td>Reserved</td>
                        }
                        else
                        {
                            <td>Empty</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>