@{
    ViewData["Title"] = "Main Page";
}

<div class="main-page-body">
    <h1 class="display-4">Main Page</h1>
    <div class="search-input">
        <input class="border-0 border-bottom" type="text" name="location" value="Enter search location" title="Enter search location" />
        Occupancy:
        <input  class="border-0 border-bottom" type="date" name="occupancyDate" title="Enter occupancy date"/>
        Eviction:
        <input class="border-0 border-bottom" type="date" name="evictionDate" title="Enter eviction date"/>
        <a class="btn-link text-dark text-decoration-none" asp-area="" asp-controller="Apartments" asp-action="Main">Search</a>
    </div>
</div>